PORT=3000
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=7d
BASE_URL=http://localhost:3000
CORS_ORIGIN=*

DATABASE_URL =postgresql://postgres:123@localhost:5432/karchag_db1?schema=public